<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>my name is <%=name%></h1>
    <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga error, in natus totam unde voluptas. Nam ducimus omnis reprehenderit nesciunt exercitationem assumenda perspiciatis et, deserunt blanditiis sapiente harum. Quas doloremque aspernatur aliquid porro ad at praesentium eligendi, quaerat excepturi eveniet non enim ducimus! Nemo quidem, repellendus dolor deleniti sint placeat fugit alias, culpa hic, laborum quia deserunt. Nihil corrupti accusamus facere dolores dolor a porro libero officiis maiores nostrum velit omnis, ratione est commodi eaque architecto doloremque error expedita! Quos quasi fuga eligendi, ea ducimus consequuntur nesciunt accusantium aperiam quae! Accusantium officia a explicabo illo rerum vitae, asperiores consequatur incidunt.</h1>
</body>
</html>